<div class="formtunaiku">
    <div style="text-align:center">
        <h1 class="text-white">
            Welcome to {{ title }}!
        </h1>
    </div>
    <mat-card>
        <form [formGroup]="registrationForm" (ngSubmit)="onFormSubmit(registrationForm.value)">  
            <div class="container">  
                <div class="name"> 
                    <mat-form-field class="demo-full-width">  
                        <input formControlName="yourName" matInput placeholder="Nama Anda" required>  
                    </mat-form-field>  
                    <mat-error>  
                        <span class="float-left" *ngIf="!registrationForm.get('yourName').valid && registrationForm.get('yourName').touched">{{ getErrorName() }}</span>  
                    </mat-error> 
                </div> 
                <div class="ktp"> 
                    <mat-form-field class="demo-full-width">
                        <input formControlName="ktpNumber" matInput (input)="onNikChange($event.target.value)" [(ngModel)]="inputNik" type="number" placeholder="NIK" required>
                    </mat-form-field>
                    <mat-error>  
                        <span class="float-left" *ngIf="!registrationForm.get('ktpNumber').valid && registrationForm.get('ktpNumber').touched">{{ getErrorNik() }}</span>  
                    </mat-error>
                </div>
                <div class="address"> 
                    <mat-form-field class="demo-full-width">  
                        <textarea formControlName="yourAddress" matInput placeholder="Alamat" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" required></textarea>  
                    </mat-form-field>  
                    <mat-error>  
                        <span class="float-left" *ngIf="!registrationForm.get('yourAddress').valid && registrationForm.get('yourAddress').touched">{{ getErrorAddress() }}</span>  
                    </mat-error>
                </div>  
                <div class="birthday">   
                    <mat-form-field class="demo-full-width">  
                        <input formControlName="birthday" matInput [matDatepicker]="picker" placeholder="Tanggal Lahir" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>  
                        <mat-datepicker touchUi="true" #picker></mat-datepicker>  
                    </mat-form-field>  
                    <mat-error>  
                        <span class="float-left" *ngIf="!registrationForm.get('birthday').valid && registrationForm.get('birthday').touched">Silahkan pilih tanggal lahir</span>  
                    </mat-error> 
                </div>
                <div class="jenkel"> 
                    <mat-form-field class="demo-full-width">  
                        <input [readonly]="!editable" formControlName="gender" matInput placeholder="Jenis Kelamin (akan terisi secara otomatis)">
                    </mat-form-field>  
                    <!-- <mat-error>  
                        <span class="float-left text-left w-100" *ngIf="!registrationForm.get('gender').valid && registrationForm.get('gender').touched">Silahkan isi nama Anda. Maks. 50 kata</span>  
                    </mat-error> -->
                </div>  
                <div class="loan">
                    <p>Jumlah pinjaman: Rp {{loan.value}} juta</p>
                    <ng5-slider [options]="loanOptions" [formControl]="loan"></ng5-slider>
                </div>
                <div class="period">
                    <p>Periode pinjaman: {{period.value}} bulan</p>
                    <ng5-slider [options]="options" [formControl]="period"></ng5-slider>
                </div>
                <!-- <div class="email">  
                    <mat-form-field class="demo-full-width">  
                        <input formControlName="Email" matInput placeholder="Email">  
                        <mat-hint>use like : demo@tunaiku.com</mat-hint>  
                        <mat-error>  
                            <span *ngIf="!registrationForm.get('Email').valid && registrationForm.get('Email').touched">Enter proper Email !!!</span>  
                        </mat-error>  
                    </mat-form-field>  
                </div> -->
                <div class="tnc text-left">  
                    <mat-slide-toggle formControlName="IsAccepted" (change)="onChange($event)">Accept Terms & Conditions</mat-slide-toggle>
                </div>  
                <div class="submit-btn my-3">  
                    <button class="w-100" mat-raised-button color="accent" [disabled]="!registrationForm.valid || IsAccepted==0">Submit</button>
                </div>  
            </div>  
        </form>   
    </mat-card> 
</div>

<router-outlet></router-outlet>