.formtunaiku{
   float: left;
   width: 100%;
   background-image: linear-gradient(53deg,#002b46,#007db8 69%,#5dbab7);
}
.tp-section {
   display: flex;
   align-content: center;
   align-items: center;
   height: 60px;
}
.tp-margin {
   margin: 30px;
}
 
.mat-slider-horizontal {
   width: 300px;
}
.mat-slider-vertical {
   height: 300px;
}
.period p,
.loan p{
   float: left;
   color: #959595;
}
.nb{
   float: left;
   margin-top: -15px;
   margin-left: 90px;
   font-size: 10px;
   color: #959595;
}