/* You can add global styles to this file, and also import other style files */ 
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';  

.mat-card {    
    text-align: -webkit-center;    
}    
    
.demo-toolbar {    
    display: flex;    
    align-items: center;    
    width: 100%;    
}    
    
.demo-form {    
    min-width: 150px;    
    max-width: 500px;    
    width: 100%;    
}    
    
.demo-full-width {    
    width: 100%;    
}    
    
body {    
    margin: 0;    
    font-family: Roboto, sans-serif;
}    
    
mat-card {    
    max-width: 50%;    
    margin: 2em auto;    
    // text-align: center;    
}    
    
mat-toolbar-row {    
    justify-content: space-between;    
}    
    
mat-radio-button {
    margin-right: 10px;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
    background-color: rgba(51, 231, 55, 0.54);
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{
    background-color: rgba(5, 132, 8, 0.9);   
}

.done {    
    position: fixed;    
    bottom: 20px;    
    right: 20px;    
    color: white;    
}    
    
.content-center {    
    text-align: -webkit-center;    
}